.main-slider{
   
}
.card-content{
    li{
    border:solid 1px $main-color;
    height: 110px;
    overflow: hidden;
    margin-bottom: 10px;
        img{
            border-right: solid 1px $main-color;
            height: 110px;
            padding: 5px;
    }
    .title{
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color:$main-color;
    }
    .content{
    font-size: 12px;
    font-family: 'Lateef', cursive;
    font-weight: 700;
    }
}
}
.about-us{
    .title{
        h1{
            color: #999999;  
        }
    }
}

.about{
    @extend .seperator;
.about-card{
    padding-bottom: 30px;
    padding-top: 15px;
    margin-top: 30px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: $box-shadow;
    @include breakpoint ($bp-tablet){
    padding-top: 10px;    
    }
    @include breakpoint ($bp-desktop){
    padding-top: 30px;  
    margin-bottom: 40px;  
        }
    .head{
        margin-bottom: 5px;
        @include breakpoint($bp-desktop){
            margin-bottom: 20px;    
        }
        h1{
        color: #999999;
        text-align: center;
        font-size: 20px;
        //font-family: 'Cabin', sans-serif;
        font-weight: 500;
        @include breakpoint ($bp-desktop){
        font-size: 35px;    
        }
    }
    }
    .content{
        p{
        text-align: center;
        font-size: 20px;
        font-family: 'Lateef', cursive;
        color:#3c3c3c;
        padding-left: 0px;
        padding-right: 0px;
        @include breakpoint ($bp-desktop){
            font-size: 25px; 
            padding-left: 20px;
            padding-right: 20px;   
            }
        }
    }
    .about-btn{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0px;
        @include breakpoint($bp-tablet){
            margin-top: 20px;
            margin-bottom: 0px;
        }
        @include breakpoint($bp-desktop){
            margin-top: 35px;
            margin-bottom: 20px;
        }
        a{
            text-decoration: none;
            color:#fff;
            background: $main-color;
            font-family: 'Cabin', sans-serif;
            padding: 10px;
            @include breakpoint ($bp-desktop){
                padding: 15px;    
                }
                &:hover{
                    background: #fff;
                    color:$main-color;
                    border: solid 1px $main-color;
                }
        }
    }
}
}
.work{
    margin-bottom: 20px;
    .work-title{
        margin-top: 15px;
        margin-bottom: 15px;
        @include breakpoint($bp-desktop){
            margin-top: 25px;
            margin-bottom: 25px;  
        }
        h1{
            color: #999999;
            text-align: center;
            line-height: 40px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 500;
            @include breakpoint ($bp-desktop){
            font-size: 35px;    
            }
        }
        hr{
            width: 25%;
        }
    }
    .quran{
        background: #fff;
        @include breakpoint($bp-desktop){
            background: none;    
        }
    .quran-card{
        height: auto;
        overflow: hidden;
        margin-bottom: 15px;
        background-color: #fff;
        @include breakpoint ($bp-desktop){
        height: 320px;    
        }
        .quran-card-title{
           h1{
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            padding-bottom: 10px;
            background-color: #f3f3f3;
            @include breakpoint ($bp-desktop){
            font-size: 24px;    
            }
           }
        }
            .icon{
                padding-bottom: 10px;
                padding-top: 25px;
                padding-left: 5px;
                padding-right: 5px;
                @include breakpoint($bp-tablet){
                    padding-bottom: 20px;   
                }
                img{
                    @include padding-right(10px);
                    height: 30px;
                    width: auto;
                    margin-left: auto;
                    margin-right: auto;
                }
                p{
              
                    width:100px;
                    display: inline-block;
                    font-size: 12px;
                    font-family: 'cabin', 'open-sans';
                    color:#fff;
                    background: $main-color;  
                    text-align: center;
                    border-radius: 10px; 
                    padding: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    &:hover{
                        color:$main-color;
                        background: #fff;
                        border:solid 1px $main-color;
                    }
                
                }
            }
            .card-title{
            h1{
               
                font-size: 20px;
                font-weight: 500;
                font-family: 'Tajawal', sans-serif;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 15px;
                @include breakpoint ($bp-desktop){
                font-size: 25px;  
                padding-left: 5px;
                padding-right: 5px; 
                padding-bottom: 15px;
                    a{
                        color:black;
                        &:hover{
                            color:$main-color;
                        }
                    }
                }
            }
        }
        .quran-content{
            p{
                font-family: 'Lateef', cursive;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px; 
                color:#3c3c3c;
                @include breakpoint ($bp-desktop){ 
                padding-left: 5px;
                padding-right: 5px; 
                padding-bottom: 10px; 
                }
            }
        }
        .views{
            padding-top: 30px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 20px;
            font-size: 15px;
            color: #787474;
            font-family: 'Cabin', sans-serif;
            @include breakpoint ($bp-desktop){
            padding-top: 25px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 0px;
             }
           }
        }
        
    }       
}

.download-btn{
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 15px;
    margin-top:-60px;
    color: #787474;
    font-family: 'Cabin', sans-serif;
    @include breakpoint ($bp-desktop){
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px; 
    margin-top: -125px;
    }
    a{
        color:#fff;
        background-color: $main-color;
        padding: 10px; 
        //font-size: 20px;
        padding-right: 50px;
        padding-left: 50px;
        @include breakpoint ($bp-desktop){
            padding: 15px; 
            padding-right: 50px;
            padding-left: 50px;   
        }
        &:hover{
            color: $main-color;
            background-color: #fff;
            border :solid 1px $main-color;
        }
    }
}
.cv-card{
    padding-bottom: 20px;
    background: #fff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right:20px;
    margin-bottom: 20px;
    .head{
        h1{
            font-size: 16px;
            font-family: 'Tajawal', sans-serif;
            
        }
    }
}
.status-card{
    @extend .seperator;
    .cards{
        padding-bottom: 20px;
        @include breakpoint($bp-desktop){
            padding-bottom: 35px;   
        }
    }
}
.status{
    .title{
        padding-bottom: 10px;
        padding-top: 15px;
        @include breakpoint($bp-desktop){
            padding-top: 25px;    
        }
        h1{
            color: #999999;
            text-align: center;
            font-size: 16px;
            @include breakpoint($bp-desktop){
                font-size: 25px;  
            }
        }
    }
}

.s-card-title{
    border-top:solid 1px $main-color;
    padding-top:15px;
    @include breakpoint($bp-desktop){
        padding-top:25px;   
    }
    h1{
        font-family: 'Tajawal', sans-serif;
        color: #999999;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        @include breakpoint ($bp-desktop){
        font-size: 24px;    
        }
    }
}
.s-cards{
    a{
        text-decoration: none;
        }
        &:hover{
            .sub-title{
                h1{
                    color:#9fefe7 !important;
                }
            }
    }
    border:solid 1px #F7F4F4;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
    height: 180px;
    background: #fff;
    @include breakpoint ($bp-tablet){
        height: auto;
        margin-bottom: 0px;
        margin-top: 5px;
        }
    @include breakpoint ($bp-desktop){
    height: 230px;
    }
    .s-card-title{
    h1{
        background: $main-color;
        margin-top: 15px;
        margin-bottom: 10px;
        display: inline-block;
        border-radius: 10px;
        padding:5px;
        padding-left: 10px;
        padding-right: 10px;
        text-transform: uppercase;
        color:#fff;
        font-family: 'Cabin', sans-serif;
        font-size: 12px;
        @include breakpoint ($bp-tablet){
            margin-bottom: 20px;
        }
    }
}
    .sub-title{
        h1{
        color:#999999;
        font-size: 50px;
        font-weight: 500;
        font-family: 'Cabin', sans-serif; 
        text-align: center;
        margin-bottom: 15px;
        padding-top: 30px;
        @include breakpoint ($bp-tablet){
            margin-bottom: 20px;
            padding-top: 50px;
        }
        } 
    }
    .s-card-content{
        p{
            font-size: 15px;
            font-weight: 500;
            font-family: 'Tajawal', sans-serif;
            text-align: center; 
            color:#3c3c3c;
            text-transform: uppercase; 
            @include breakpoint($bp-tablet){
                font-size: 20px;  
            }
        }
    }
}   
.status{
    .status-card{
        h1{
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            font-weight: 700; 
            padding-bottom: 10px;  
            @include breakpoint ($bp-desktop){
            font-size: 24px;   
            } 
        }
        .content{
            p{
                font-size: 16px;
                font-family: 'Lateef', cursive;
                color:#3c3c3c; 
                @include breakpoint ($bp-desktop){
                    font-size: 18px;    
                    }  
            }
        }
    }
}

