.quran-container{
    @extend .seperator;
    padding-bottom: 20px;
    @include breakpoint($bp-desktop){
        padding-bottom: 30px;  
    }
}
.book-thumb{
    margin-top: 20px;
    
}
.opinion{
	h2{
        color: #999999;
        text-align: center;
		margin-top:20px;
		margin-bottom: 20px;
	}
    .article{
        background: #fff;
        position: relative;
        box-shadow: $box-shadow;
        line-height: 1.375;
        margin-bottom: 20px;
        @include breakpoint($bp-tablet){
            margin-bottom: 30px;
        }
        @include breakpoint($bp-desktop){
            margin-bottom: 40px;
        }
        .thumb{
            position: relative;
            .layover{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,.4);
                @include transition-time(.2s, ease-in);
                &:hover{
                    background: rgba(0,0,0,.6);    
                }
                
            }
            img{
                display: block;
            }
        }
        .category{
            position:absolute;
            top:30px;
            right:15px;
            left:15px;
            @include breakpoint($bp-desktop){
                right:30px;
                left:30px;   
            }
            li{
                display: inline-block;
                a{
                    display: block;
                    @include link-style(#fff,$primary-fcolor);
                    text-transform: uppercase;
                    padding: 7px 14px;
                    font-size: 12px;
                }
                &.icon-wrap{
                    width:32px;
                    height: auto;
                }
                &.name{
                    position: relative;
                    top:-10px;
                    margin: 0px 5px;
                    background: $main-color;
                    border-radius: 20px;
                    &:hover{
                        background-color:#fff;
                    }
                }
            }
        }
        .title{
            display: block;
            text-transform: capitalize;
            @include link-style($primary-fcolor, $main-color);
            font-size: 22px;
            font-family: 'Tajawal', sans-serif;
            line-height: 1.364;
            font-weight: 700;
            margin: 23px 15px 14px 15px;
            @include breakpoint($bp-desktop){
                margin: 23px 30px 14px 30px;  
            }
        }
        .meta{
            padding: 10px 15px;
            margin-bottom: 30px;
            @include breakpoint($bp-desktop){
                padding: 0px 30px;    
            }
            li{
                display: inline-block;
                &:first-child{
                    width: 24px;
                    height: auto;
                    overflow: hidden;
                    border-radius: 50%;
                    position: relative;
                    top:5px;
                    img{
                        display: block;
                    }
                }
                &:nth-child(2n){
                  margin: 0px 5px; 
                  text-transform: capitalize; 
                }
            }
        }
    }
}
.download-quraan-btn{
    // position: absolute;
    // top: 25%;
    // right: 7%;
    // left:7%;
    padding-top: 2px;
   padding-bottom: 9px;
   margin-top: 12px;
   margin-bottom: 12px;
   text-align: center;
    @include breakpoint($bp-desktop){
       // top: 25%;
       // right: 15%;
       // left:15%;   
    }
    a{
        position: static;
        //top: 35%;
        //left: 7%;
        color:#fff;
        background-color: $main-color;
        padding: 10px; 
        padding-left: 50px;
        padding-right: 50px;
            &:hover{
                color: $main-color;
                background-color: #fff;
                border :solid 1px $main-color;
            }
            @include breakpoint($bp-tablet){
               // top: 35%;
               // left: 7%;
                padding: 10px;
                padding-left: 50px;
                padding-right: 50px;
            }
        @include breakpoint($bp-desktop){
           // top: 30%;
           // left: 15%;
            padding: 15px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}
.quraan-content{
	margin-top: 0px;
	margin-bottom: 20px;
	background: #FFF;
    box-shadow: $box-shadow;
    @include breakpoint($bp-desktop){
        margin-top: 20px;   
    }

    .quran-title{
        font-size: 20px;
        text-align: center;
        padding-top: 15px;
        font-family: 'Tajawal', sans-serif;
    }
	img{
		display: block;
	}
	p{
        padding: 20px 15px;
        font-family: 'Lateef', cursive;
		@include breakpoint($bp-desktop){
            padding: 40px 60px;
            padding-top: 90px;
			line-height: 1.8;
		}
	}
	.post-views{
		display:none;
	}
	.opinion{
		padding: 0 15px 20px 15px;
		h2{
			margin-bottom: 14px;
		}
		.title{
			display: block;
			font-size: 20px;
            line-height: 1.4;
            margin-top: 12px;
			margin-bottom: 8px;
			@include link-style($primary-fcolor, $main-color);
		}
		ul{
			li{
				p{
					border-bottom: solid 1px $border-color;
					padding: 0;
					@include breakpoint($bp-desktop){
						padding: 10px 0;
						margin: 20px 15px;
						line-height: 1.5;
						font-size: 16px;
					}
				}
				.content{
					display: none;
				}
				a{
					display: inline-block;
					margin: 0 5px;
					font-size: 16px;
					text-transform: capitalize;
					@include link-style($main-color, $primary-fcolor);
				}
			}
		}
		@include breakpoint($bp-desktop){
			padding: 0 60px 40px 60px;
			h2{
				margin-bottom: 24px;
			}
			.title{
				margin-bottom: 12px;
			}
		}
	}
}